body {
  font-family: sans-serif;
  text-align: center;
  color: #040300;
}

h3, h2 {
  color: #68c8fb;
}

.column {
  float: left;
  width: 400px;
  margin-left: 5px;
  margin-right: 5px;
}

.column img {
  width: 400px
}

.column li {
  text-align: left;
}
